#      A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd

In [10]:
cutlet = pd.read_csv("C:/Users/Admin/Downloads/Cutlets.csv")

In [11]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

Next we'll use the ttest _ind() function from the scipy.stats library to conduct a two sample t-test, which uses the following syntax:

ttest_ind(a,b, equal_var=True)
where a is data in Unit A and b is data in Unit B

equal var : if True  perform a standard independent 2 sample t-test that assumes equal population variances.

In [32]:
import scipy.stats as stats 
unitA_data = cutlet['Unit A']
unitB_data = cutlet['Unit B']
t_score,pvalue=stats.ttest_ind(a=unitA_data,b=unitB_data,equal_var=True)
print(t_score,pvalue)

0.7228688704678063 0.4722394724599501

In [ ]:
The t test statistic is 0.7228 and the corrresponding two sided p-value is 0.4722
The two hypothesis for this particuar two sample t-test are as follows:
H0: There is no significant difference between the diameters.
H1: There is a significant difference between the diameters.
    
As here the p value is greater than our alpha=0.05 we accept the null hypothesis of the test

#    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Null Hypothesis (H0)
There is no significant difference in the average Turn Around Time (TAT) among the laboratories on the preferred list.

Alternative Hypothesis (H1)
There is a significant difference in the average Turn Around Time (TAT) among the laboratories on the preferred list.

In [3]:
import pandas as pd
from scipy.stats import f_oneway
from numpy import round

In [4]:
TAT = pd.read_csv("C:/Users/Admin/Downloads/LabTAT.csv")

In [5]:
TAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:
lab1 = TAT['Laboratory 1']
lab2 = TAT['Laboratory 2']
lab3 = TAT['Laboratory 3']
lab4 = TAT['Laboratory 4']

In [9]:
one_way_annova_test,p= f_oneway(lab1,lab2,lab3,lab4)

In [11]:
print(f"Statistics {round(one_way_annova_test,3)},p={round(p,4)}")

Statistics 118.704,p=0.0

In [12]:
alpha=0.05

In [13]:
if p<alpha:
    print("Reject H0")
else:
    print("Fail to Reject H0")

Reject H0

# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

H0:The distribution of male and female buyers is the same across all regions.

H1:The distribution of male and female buyers is different across at least one region.

In [20]:
from scipy.stats import chi2_contingency
import scipy.stats as stats
import numpy as np

In [21]:
ratio = pd.read_csv("C:/Users/Admin/Downloads/BuyerRatio.csv")

In [23]:
ratio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [33]:
ratio.tail()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [25]:

# Observed values
observed_values = np.array([[50, 142, 131, 70], [435, 1523, 1356, 750]])

# Perform chi-squared test
chi2, p, _, _ = chi2_contingency(observed_values)

# Display the results
print("Chi-squared value:", chi2)
print("P-value:", p)

Chi-squared value: 1.595945538661058
P-value: 0.6603094907091882

In [26]:
if p<alpha:
    print("Reject H0")
else:
    print("Fail to Reject H0")

Fail to Reject H0

# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [39]:
df = pd.read_csv("C:/Users/Admin/Downloads/Costomer+OrderForm.csv")

Null Hypothesis (H0): There is no significant association between the center and the defective status of order forms.

Alternative Hypothesis (H1): There is a significant association between the center and the defective status of order forms.

In [40]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [41]:
df.tail()

    Phillippines   Indonesia       Malta       India
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

In [42]:
# Create a contingency table
contingency_table = pd.crosstab(df['Phillippines'], [df['Indonesia'], df['Malta'], df['India']])

# Perform chi-squared test
chi2, p, _, _ = chi2_contingency(contingency_table)

# Display the results
print("Chi-squared value:", chi2)
print("P-value:", p)

Chi-squared value: 3.1001395592512266
P-value: 0.6845505149379718

In [43]:
if p<alpha:
    print("Reject H0")
else:
    print("Fail to Reject H0")

Fail to Reject H0